# Ignore big data folders
/data/videos/*
!/data/videos/.gitkeep

/data/val_videos/*
/debug_output/

/data/yolo_dataset/*
!/data/yolo_dataset/.gitkeep

/data/annotations/*
!/data/annotations/.gitkeep
/IWWD-Dumping-Detection-4
/training

# Ignore model files
/models/*.h5

# Ignore output results
/results/

# Chaches and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment folders
.venv/


# Config files for IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sistem files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Package distribution folders
build/
dist/
*.egg-info/

# Temporary files
*~
*.tmp
*.log